@use "./../01-abstracts/" as *;

.wrapper {
	padding: 0 24px;
	min-width: 100vw;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	z-index: 0;
	background-color: $eastern-blue;
	overflow: clip;
}

.bg-top, .bg-bottom {
	position: absolute;
	z-index: -1;
	max-width: unset;
	width: 622px;
	opacity: 0.75;

	@include breakpoint($lg){
		width: 978px;
	}
}

.bg-top {
	top: -355px;
	left: -410px;

	@include breakpoint($lg){
	top: -500px;
	left: -260px;
	}
}

.bg-bottom {
	bottom: -300px;
	right: -400px;

	@include breakpoint($lg){
	bottom: -640px;
	right: -240px;
	}
}

